{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Instance Configuration'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import configure as configure %}

{% block content %}
    <h2>{{ 'Instance Configuration' }}</h2>

    {{ configure('admin_instance', configure_form, 'Celsius3CoreBundle:AdminInstance', entity) }}
{% endblock %}
