{% extends 'Celsius3CoreBundle:Layout:superadministration_layout.html.twig' %}

{% block title %}
{{ 'Network Administration'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span6">
        {% include 'Celsius3CoreBundle:Superadministration:_dash.html.twig' %}
    </div>
    <div class="span6 pull-right">
        {% include 'Celsius3CoreBundle:Superadministration:_shared_span.html.twig' %}
        {% include 'Celsius3CoreBundle:Superadministration:_global_span.html.twig' %}
        {% include 'Celsius3CoreBundle:Superadministration:_other_span.html.twig' %}
    </div>
</div>
{% endblock %}
