<div class="clearfix row">
    <ul class="nav nav-pills pull-left" id="pedidos">
        <li role="presentation" ng-class="isActiveType('all')">
            <a href="#/all/{{state}}/{{orderType}}">{{'orders'|translate}}</a>
        </li>
        <li role="presentation" ng-class="isActiveType('mine')">
            <a href="#/mine/{{state}}/{{orderType}}">{{'myOrders'|translate}}</a>
        </li>
    </ul>
    <ul class="nav nav-pills pull-right" id="filtrado">
        <li role="presentation" ng-class="isActiveOrderType('allTypes')">
            <a href="#/{{type}}/{{state}}/allTypes">{{'allTypes'|translate}}</a>
        </li>
        <li role="presentation" ng-class="isActiveOrderType('provision')">
            <a href="#/{{type}}/{{state}}/provision">{{'provision'|translate}}</a>
        </li>
        <li role="presentation" ng-class="isActiveOrderType('search')">
            <a href="#/{{type}}/{{state}}/search">{{'search'|translate}}</a>
        </li>
    </ul>
</div>

<div id="barrita2" class="row">
    <div class="col-md-1">
        <a class="btn btn-link botonespecial" href="{{ {path: 'admin_order_new'}|get_url}}">
            <span id="botonespecial" aria-hidden="true"><img src="/bundles/celsius3core/images/plus.png" width="63" height="63" alt="Add Order" /></span> 
        </a>
    </div>
    <div class="col-md-11">
        <div class="btn-group btn-group-justified" role="group">
            <a class="lead btn btn-default" ng-class="isActive('created')" href="#/{{type}}/created/{{orderType}}"><span class="numero">{{orderCount.created}}</span><span class="texto">{{'created'|translate}}</span></a>
            <a class="lead btn btn-default" ng-class="isActive('searched')" href="#/{{type}}/searched/{{orderType}}"><span class="numero">{{orderCount.searched}}</span><span class="texto">{{'beingSearched'|translate}}</span></a>
            <a class="lead btn btn-default" ng-class="isActive('requested')" href="#/{{type}}/requested/{{orderType}}"><span class="numero">{{orderCount.requested}}</span><span class="texto">{{'requested'|translate}}</span></a>
            <a class="lead btn btn-default" ng-class="isActive('approval_pending')" href="#/{{type}}/approval_pending/{{orderType}}"><span class="numero">{{orderCount.approval_pending}}</span><span class="texto">{{'approvalPending'|translate}}</span></a>
            <a class="lead btn btn-default" ng-class="isActive('received')" href="#/{{type}}/received/{{orderType}}"><span class="numero">{{orderCount.received}}</span><span class="texto">{{'received'|translate}}</span></a>
            <a class="lead btn btn-default" ng-class="isActive('finished')" href="#/{{type}}/finished/{{orderType}}"><span class="numero">{{ orderCount.delivered + orderCount.cancelled + orderCount.annulled}}</span><span class="texto">{{'finished'|translate}}</span></a>
        </div>
    </div>
</div>
