<div class="col-md-12" ng-if="orders.length > 0">
    <div class="navigation">
        <pagination total-items="total" ng-model="pagination.currentPage" ng-change="pageChanged()"></pagination>
    </div>

    <div class="sorting-group pull-right">
        <span>
            {{'Sort by'|translate}}:
            <a href ng-click="sort('createdAt')">{{'Date'|translate}}</a> -
            <a href ng-click="sort('code')">{{'Code'|translate}}</a> -
            <a href ng-click="sort('materialData.title')">{{'Title'|translate}}</a>
        </span>
    </div>
    <div class="clearfix"></div>
    <br />

    <div class="item_container" ng-repeat="order in orders">
        <div class="top_info">
            <div class="top_left">
                <div ng-class="order.request.type | request_type">{{order.request.type| request_type_abbr | translate}}</div>
                <div class="tipoarticulo">{{order.material_data.type}}</div>
            </div>

            <div class="top_right">	
                <div class="status-{{order.request.current_state}}"></div>
                <div class="uri">{{order.code}}</div>
                <div class="usuario">
                    {{order.request.operator ? order.request.operator.name : '-'}}
                </div>
                <div class="decoracion"></div>
            </div>
        </div>

        <div class="main_info">
            <div class="title_and_author">
                <div class="titulo"><a ng-href="{{ {path: 'admin_order_show', params: {'id': order.id} }|get_url }}">{{order.material_data.title}}</a></div>
                <div class="autor">{{order.material_data.authors}}</div>
                <div class="doc_year">{{order.material_data.year}}</div>
            </div>
            <div class="doc_and_year">
                <div class="doc_type_pdf"></div>
            </div>
        </div>
        
        <div class="comments">{{order.request.comments}}</div>

        <div class="order-actions">
            <ul class="list-unstyled actions">
                <li>
                    <a ng-href="{{ {path: 'admin_order_show', params: {'id': order.id} }|get_url }}"><span class="glyphicon glyphicon-file"></span></a>
                </li>
                <li>
                    <a ng-href="{{ {path: 'admin_order_edit', params: {'id': order.id} }|get_url }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </li>
            </ul>
        </div>
        
        <div class="clearfix"></div>
    </div>

    <div class="navigation">
        <pagination total-items="total" ng-model="pagination.currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>

<div class="col-md-12" ng-if="orders.length === 0">
    <p>{{'noMatchingOrders' | translate}}</p>
</div>