<div class="navigation">
    <pagination total-items="total" 
                max-size="7" 
                boundary-links="true" 
                rotate="false" 
                num-pages="numPages" 
                ng-model="pagination.currentPage" 
                ng-change="pageChanged()" 
                previous-text="{{ 'Previous' | translate }}" 
                next-text="{{ 'Next' | translate }}" 
                first-text="{{ 'First' | translate }}" 
                last-text="{{ 'Last' | translate }}">                    
    </pagination>
</div>
