<h2>{{'Pending users'|translate}}</h2>
<ul class="list-group" ng-if="users.length > 0">
    <li class="list-group-item user-item" ng-repeat="user in users">
        <div class="pull-left user-data">
            {{user.surname}}, {{user.name}}
        </div>
        <div class="pull-right">
            <ul class="list-unstyled list-inline">
                <li><a href ng-click="enableUser(user.id)"><span class="glyphicon glyphicon-ok"></span></a></li>
                <li><a href ng-click="showUserModal(user.id)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                <li><a ng-href="{{ {path: 'admin_user_edit', params: { 'id': user.id } } | get_url }}"><span class="glyphicon glyphicon-pencil"></span></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </li>
</ul>
<p ng-if="users.length === 0">
    {{ 'There are no pending users'|translate}}
</p>

<div id="user-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="search-modal-label" class="modal-title">{{'userDetails'| translate}}</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>{{'username'|translate}}</dt>
                    <dd>{{currentUser.username}}</dd>
                    <dt>{{'country'|translate}}</dt>
                    <dd>{{currentUser.country?currentUser.country.name:'-'}}</dd>
                    <dt>{{'city'|translate}}</dt>
                    <dd>{{currentUser.city?currentUser.city.name:'-'}}</dd>
                    <dt>{{'birthdate'|translate}}</dt>
                    <dd>{{currentUser.birthdate|date:'mediumDate'}}</dd>
                    <dt>{{'address'|translate}}</dt>
                    <dd>{{currentUser.address?currentUser.address:'-' }}</dd>
                    <dt>{{'email'|translate}}</dt>
                    <dd>{{currentUser.email}}</dd>
                    <dt ng-repeat-start="customValue in currentUser.custom_values">{{customValue.field.name}}</dt>
                    <dd ng-repeat-end>{{customValue.value}}</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href ng-click="enableUser(currentUser.id)"><span class="glyphicon glyphicon-ok"></span> {{'enable'|translate}}</a>
                <a ng-href="{{ {path: 'admin_user_edit', params: { 'id': currentUser.id } } | get_url }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {{'edit'|translate}}</a>
                <button class="btn btn-default" data-dismiss="modal">{{'close'| translate}}</button>
            </div>
        </div>
    </div>
</div>