{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Profile' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>{{ 'Profile' | trans }}
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-md pull-right">
                <span class="glyphicon glyphicon-edit"></span>
                <span>{{ 'Edit' | trans }}</span>
            </a>
            </h2>
            <hr class="separator_hr">
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        </div>
    </div>
{% endblock %}
