{% extends 'Celsius3CoreBundle:Order:_index_fields.html.twig' %}

{% block extrainfo %}
<a class="pull-right label" href="{{ path('admin_user',{ 'id': order.owner.id }) }}">{{ order.owner.fullName }}</a>
{% endblock %}

{% block ordercontent %}
{% include 'Celsius3CoreBundle:AdminOrder:_index_order_fields.html.twig' %}
{% endblock %}