<div class="col-md-3">
    {% include 'Celsius3CoreBundle:AdminOrder:_show_order_actions.html.twig' %}
</div>

<div id="panel_contenido" class="col-md-9">
    <div class="row">
        {% include 'Celsius3CoreBundle:AdminOrder:_show_order_search_summary.html.twig' %}
    </div>

    <div id="panelsecundario" class="row">
        {% include 'Celsius3CoreBundle:AdminOrder:_show_order_catalog_results.html.twig' %}
    </div>
</div>
