<h1></h1>
<h2> 2012 </h2>
<table class="tabla_historial" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td>27 mayo</td>
        <td><div class="iconhistorial-lupa1"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>8 junio </td>
        <td><div class="iconhistorial-reloj1"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>8 junio</td>
        <td><div class="iconhistorial-papel1"></div></td>
        <td class="historial_encargado">por Esteban  </td>
    </tr>
    <tr>
        <td>8 junio </td>
        <td><div class="iconhistorial-papel2"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>10 junio </td>
        <td><div class="iconhistorial-lupa2"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>11 de junio </td>
        <td><div class="iconhistorial-lupa1"></div></td>
        <td class="historial_encargado">por Esteban </td>
    </tr>
    <tr>
        <td>15 de junio </td>
        <td><div class="iconhistorial-reloj2"></div></td>
        <td  class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>27 junio </td>
        <td><div class="iconhistorial-ok"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
</table>
