<h1></h1>
<h2> 2012 </h2>
<table class="tabla_historial" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td>27 mayo</td>
        <td><div class="iconhistorial1"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>8 junio </td>
        <td><div class="iconhistorial2"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>8 junio</td>
        <td><div class="iconhistorial3"></div></td>
        <td class="historial_encargado">por Esteban  </td>
    </tr>
    <tr>
        <td>8 junio </td>
        <td><div class="iconhistorial4"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>10 junio </td>
        <td><div class="iconhistorial5"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>11 de junio </td>
        <td><div class="iconhistorial6"></div></td>
        <td class="historial_encargado">por Esteban </td>
    </tr>
    <tr>
        <td>15 de junio </td>
        <td><div class="iconhistorial7"></div></td>
        <td  class="historial_encargado">por Carlos Nusch</td>
    </tr>
    <tr>
        <td>27 junio </td>
        <td><div class="iconhistorial8"></div></td>
        <td class="historial_encargado">por Carlos Nusch</td>
    </tr>
</table>
