<div id="explorar_catalogos">
    <img src="{{ asset('bundles/celsius3core/images/agregar_solicitud.png') }}" width="150" height="40" />
</div>
<div id="explorar_catalogos">
    <a href="#" style="text-decoration:none; color:grey;">EXPLORAR CAT&Aacute;LOGOS </a>
</div>