<div class="col-md-4">
    <table class="tabla" border="0" cellspacing="4" cellpadding="0">
        <tr>
            <td colspan="3"><strong style="color:#157C34">Coincidencia total </strong></td>
        </tr>
        <tr>
            <td>0/3</td>
            <td>KVK</td>
            <td>20 agosto </td>
        </tr>
        <tr>
            <td>1/1</td>
            <td>OPAC ISTEC </td>
            <td>10 marzo </td>
        </tr>
        <tr>
            <td>0/1</td>
            <td>Web</td>
            <td>5 junio </td>
        </tr>
        <tr>
            <td>0/1</td>
            <td>TNT</td>
            <td>3 de febrero </td>
        </tr>
    </table>
</div>

<div class="col-md-4">
    <table class="tabla" border="0" cellspacing="4" cellpadding="0">
        <tr>
            <td colspan="3"><strong style="color:#157C34">Título encontrado</strong></td>
        </tr>
        <tr>
            <td>0/3</td>
            <td>KVK</td>
            <td>20 agosto </td>
        </tr>
        <tr>
            <td>1/1</td>
            <td>OPAC ISTEC </td>
            <td>10 marzo </td>
        </tr>
        <tr>
            <td>0/1</td>
            <td>Web</td>
            <td>5 junio </td>
        </tr>
        <tr>
            <td>0/1</td>
            <td>TNT</td>
            <td>3 de febrero </td>
        </tr>
    </table>

</div>

<div class="col-md-4">
    <table class="tabla" border="0" cellspacing="4" cellpadding="0">
        <tr>
            <td colspan="3"><strong style="color:#E41D19">B&uacute;squedas infructuosas</strong> </td>
        </tr>
        <tr>
            <td>0/3</td>
            <td>KVK</td>
            <td>20 agosto </td>
        </tr>
        <tr>
            <td>1/1</td>
            <td>OPAC ISTEC </td>
            <td>10 marzo </td>
        </tr>
        <tr>
            <td>0/1</td>
            <td>Web</td>
            <td>5 junio </td>
        </tr>
        <tr>
            <td>0/1</td>
            <td>TNT</td>
            <td>3 de febrero </td>
        </tr>
    </table>

</div>