<h1>Búquedas exitosas</h1>
<div class="item1">
    <div class="panel1">

        <div class="cat_estrella"></div>
        <div class="cat_datos">
            <div class="cat_titulo">KVK</div>
            <div class="cat_fecha">12 abril 2012</div>
        </div>
    </div>
    <div class="panel2"></div>
    <div class="panel3">

        <div class="relojito"><img src="icon_relojito.png" width="11" height="20" /></div>
        <div class="fecha_relojito">12 abril 1998</div>
    </div>
</div>

<div class="item1">
    <div class="panel1">

        <div class="cat_estrella"></div>
        <div class="cat_datos">
            <div class="cat_titulo">KVK</div>
            <div class="cat_fecha">12 abril 2012</div>
        </div>
    </div>
    <div class="panel2"></div>
    <div class="panel3">

        <div class="relojito"><img src="icon_relojito.png" width="11" height="20" /></div>
        <div class="fecha_relojito">12 abril 1998</div>
    </div>
</div>
<div class="item1">
    <div class="panel1">

        <div class="cat_estrella_ok"></div>
        <div class="cat_datos_ok">
            <div class="cat_titulo">KVK</div>
            <div class="cat_fecha">12 abril 2012</div>
        </div>
    </div>
    <div class="panel2_ok"></div>
    <div class="panel3_ok">

        <div class="relojito"><img src="icon_hoja_white.png" width="11" height="20" /></div>
        <div class="fecha_hoja">12 abril 1998</div>
    </div>
</div>
