{% set ajax_path = 'admin_ajax' %}
{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Order Creation'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ 'Order Creation' | trans }}</h2>
            <hr class="separator_hr">
            {{ new('admin_order', form, 'Celsius3CoreBundle:AdminOrder', true, entity) }}
        </div>
    </div>
{% endblock %}
