{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'Order View'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import show as show %}

{% block content %}
{% set request = document.request(instance) %}
<div id="cuerpo_pedido">
    <div class="item_container row">
        {% include 'Celsius3CoreBundle:AdminOrder:_show_order_data.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div id="barra" class="col-md-12">
                    {% include 'Celsius3CoreBundle:AdminOrder:_show_order_status.html.twig' %}
                </div>
            </div>

            <div class="row">
                {% include 'Celsius3CoreBundle:AdminOrder:_show_order_contenido.html.twig' %}
            </div>
        </div>

        <div id="derecha" class="col-md-3">
            {% include 'Celsius3CoreBundle:AdminOrder:_show_order_history.html.twig' %}
        </div>
    </div>


</div>
{% endblock %}