{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {% trans from 'FOSMessageBundle' %}messenger{% endtrans %}
{% endblock %}

{% block content %}

    <h2>{{ 'Messages'|trans }}</h2>
    <hr class="separator_hr">

{% block fos_message_content %}{% endblock %}
{% endblock %}
