<li class="active"><a href="{{ path('fos_message_inbox') }}"><i class="fa fa-inbox"></i> Bandeja de Entrada
        <span class="label label-primary pull-right"></span></a></li>
<li><a href="{{ path('fos_message_sent') }}"><i class="fa fa-envelope-o"></i> Enviado</a></li>
<li><a href="#"><i class="fa fa-trash-o"></i> Papelera</a></li>
