{% set ajax_path = 'admin_ajax_usernames' %}
{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
    <h3>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h3>
    <div class="row">
        <div class="col-md-9">
            <form action="{{ url('fos_message_thread_new') }}" method="post" class="form">
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary submit-button"><span class="glyphicon glyphicon-envelope"></span> {{ 'Send'|trans }}</button>
            </form>
        </div>
        <div class="col-md-3">
            {% include 'FOSMessageBundle:Message:sidebar_new.html.twig' %}
        </div>
    </div>
{% endblock %}