{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
<h3>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h3>
<div class="row">
    <div class="span9">
        {{ tinymce_init() }}
        <form action="{{ url('fos_message_thread_new') }}" method="post" class="form-horizontal well">
            {{ form_widget(form, {'form_type': 'horizontal'}) }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="icon-envelope"></i> {{ 'Send'|trans }}</button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
             $(document).ready(function() {
                 $('#message_recipients').select2({
                      placeholder: ''
                 });
             });
        </script>
    </div>
    <div class="span3">
        {% include 'FOSMessageBundle:Message:sidebar_new.html.twig' %}
    </div>
</div>
{% endblock %}
