{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Administration'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        {% include 'CelsiusCelsius3Bundle:Administration:_dash.html.twig' %}
    </div>
</div>
<div class="row">
    {% include 'CelsiusCelsius3Bundle:Administration:_order_span.html.twig' %}
    {% include 'CelsiusCelsius3Bundle:Administration:_user_span.html.twig' %}
</div>
<div class="row">
    {% include 'CelsiusCelsius3Bundle:Administration:_location_span.html.twig' %}
    {% include 'CelsiusCelsius3Bundle:Administration:_other_span.html.twig' %}
</div>
{% endblock %}
