{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Country Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
<h2>{{ 'Country Edit'|trans }} - {{ document.name }}</h2>

{{ edit('superadmin_country', document, edit_form, 'Celsius3CoreBundle:SuperadminCountry') }}
{% endblock %}