<br>
<div class="col-md-9">
    <span id="helpBlock" class="help-block">
        {{ 'Variables available' | trans }}: 
        <code>user.full_name</code> |
        <code>user.surname</code> |
        <code>user.name</code> |
        <code>user.username</code> |
        <code>instance.name</code> |
        <code>instance.abbreviation</code> |
        <code>instance.website</code> |
        <code>instance.email</code> |
        <code>order.code</code> |
        <code>order.material_data.title</code>
    </span>
</div>