{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Template Mail Creation'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}
    <h2>{{ 'Mail Template Creation'|trans }}</h2>

    {{ new('admin_mails', form) }}
{% endblock %}

