{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'Institution Creation'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}
<h2>{{ 'Institution Creation'|trans }}</h2>

{{ new('admin_institution', form) }}
{% endblock %}
