{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Users List'|trans }}
{% endblock %}

{% from "Macro/Crud/index.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'User List'|trans }}</h2>

    {{ index('superadmin_user', pagination, 'Superadmin/BaseUser/', filter_form) }}
{% endblock %}
