# Assets and user uploads
/public/uploads/
/public/uploads/temp/*
!public/uploads/temp/.gitkeep
/public/js/*

# Maintenance Mode
/web/maintenance/index.html

# Docker folder
!/.docker/.gitignore
!/.docker/mysql/.gitignore
.composer

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###