# Assets and user uploads
/public/uploads/
/public/uploads/temp/*
!public/uploads/temp/.gitkeep
/public/js/*

# Maintenance Mode
/web/maintenance/index.html

# Docker folder
/docker/mysql/data/*
!/docker/mysql/data/.gitignore
docker-compose.override.yaml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
###< symfony/webpack-encore-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
