version: "3"
services:
    web:
        build: .
        container_name: celsius3_web
        network_mode: host
        volumes:
          - .:/var/www/html
        depends_on:
          - mysql
          - elasticsearch
          - redis

    mysql:
        image: mysql:5
        container_name: celsius3_mysql
        network_mode: host
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_DATABASE: "celsius3"
            MYSQL_USER: "celsius3_usr"
            MYSQL_PASSWORD: "celsius3_pass"
        volumes:
          - c3data:/var/lib/mysql
          - c3logs:/var/log/mysql
          - .docker/mysql:/docker-entrypoint-initdb.d

    elasticsearch:
        image: elasticsearch:6.8.2
        container_name: celsius3_elasticsearch
        network_mode: host
        environment:
          discovery.type: single-node
        volumes:
          - c3elastic:/usr/share/elasticsearch/data

    redis:
        image: redis:alpine
        container_name: celsius3_redis
        network_mode: host
        volumes:
          - c3redis:/data

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: celsius3_phpmyadmin
        ports:
          - 8000:80
        environment:
          PMA_HOST: "172.17.0.1"
          PMA_PORT: "3306"
          PMA_USER: "celsius3_usr"
          PMA_PASSWORD: "celsius3_pass"
        depends_on:
          - mysql

    deploy:
        image: docker
        container_name: celsius3_deploy
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - .docker/deploy.sh:/bin/deploy.sh
        depends_on:
          - web
        privileged: true
        entrypoint: /bin/sh
        command: /bin/deploy.sh

volumes:
    c3data:
    c3logs:
    c3redis:
    c3elastic: