{% extends 'CelsiusCelsius3Bundle:Layout:directory_layout.html.twig' %}

{% block title %}
{{ 'Directory'|trans }}
{% endblock %}

{% block content %}
<h2>{{ 'Directory'|trans }}</h2>

{% endblock %}
