{% extends 'CelsiusCelsius3Bundle:Layout:directory_layout.html.twig' %}

{% block title %}
{{ 'Directory'|trans }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="description" class="span6">
            <h3>{{ 'Project description'|trans }}</h3>
        </div>
        <div id="news" class="span6">
            <h3>{{ 'News'|trans }}</h3>
        </div>
    </div>
</div>
{% endblock %}
