<ul class="list-unstyled">
    <li>
        <a href="{{ path('admin_order_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new order'|trans }}
        </a>
    </li>
</ul>
