{% set ajax_path = 'admin_ajax' %}
{% extends 'Admin/Dashboard/layout.html.twig' %}

{% block title %}
    {{ 'Order Edit'|trans }}
{% endblock %}

{% from "Macro/Crud/edit.html.twig" import edit as edit %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">

    {{ edit('admin_order', entity, edit_form, 'Admin/Order/', true) }}
    </div>
</div>
 {% endblock %}
