<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'e.updatedAt') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'e.title') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Code'|trans, 'e.code') }}</li>
</ul>
