{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Edit Profile' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>{{ 'Edit Profile' | trans }}</h2>
            <hr class="separator_hr">
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
        </div>
    </div>
{% endblock %}
