{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Check your email'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'Check your email'|trans }}</h2>
    <p>
        {% if resetting_text is defined and resetting_text is not empty %}
            {{ resetting_text }}
        {% else %}
            {{ 'resetting.check_email' | trans({'%email%': email}, 'FOSUserBundle') }}
        {% endif %}
    </p>
{% endblock %}
