{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Password already requested'|trans }}
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">   <h2>{{ 'Password already requested'|trans }}</h2></div>
    <div class="panel-body">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
