{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Contact Creation'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}
    <h2>{{ 'Contact Creation'|trans }}</h2>

    {{ new('admin_contact', form) }}
{% endblock %}
