<ul class="unstyled">
    <li>{{ pagination.sortable('Default'|trans, 'id')|raw }} - </li>
    <li>{{ pagination.sortable('Key'|trans, 'key')|raw }}</li>
    <li>{{ pagination.sortable('Name'|trans, 'name')|raw }}</li>
</ul>