<ul class="unstyled">
    <li>
        <a href="{{ path('superadmin_country_new') }}">
            <i class="icon-plus"></i> {{ 'Create a new country'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('superadmin_country_union') }}">
            <i class="icon-magnet"></i> {{ 'Union'|trans }}
        </a>
    </li>
</ul>