<ul class="unstyled pull-right actions">
    <li>
        <a href="{{ path('superadmin_country_edit', { 'id': country.id }) }}"><i class="icon-pencil"></i> {{ 'Edit'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('superadmin_country_edit', { 'id': country.id }) }}"><i class="icon-wrench"></i> {{ 'Configuration'|trans }}</a>
    </li>
</ul>