<table class="table table-striped table-bordered table-condensed record_properties">
    <tbody>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ document.name }}</td>
        </tr>
    </tbody>
</table>