<ul class="unstyled pull-right actions">
    <li>
        <a href="{{ path(name~'_edit', { 'id': user.id }) }}"><i class="icon-pencil"></i> {{ 'Edit'|trans }}</a>
    </li>
    <li>
        <a href="{{ path(name~'_transform', { 'id': user.id }) }}"><i class="icon-pencil"></i> {{ 'Transform'|trans }}</a>
    </li>
</ul>