<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ 'System maintenance'|trans }} - Celsius3</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/global.css') }}"/>
    {% endblock %}
</head>
<body>
<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Celsius3</a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="mantenimiento row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <h1>{{ 'We are performing system maintenance' | trans }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
