{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Password Reset' | trans }}
{% endblock %}

{% block content %}
    <h3>{{ 'Password Reset' | trans }}</h3>
    <hr class="separator_hr">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
        </div>
    </div>
{% endblock %}
