{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}
{% set ajax_path = 'admin_ajax' %}
{% block title %}
    {{ 'Mail List'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Mail List'|trans }}</h2>
    <hr class="separator_hr">
    {{ index('admin_maillist', pagination, 'Celsius3CoreBundle:AdminMailList', filter_form, instance) }}
{% endblock %}