<ul class="pull-right nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ app.request.get('_locale')|upper }}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for locale in ['es', 'en', 'pt'] %}
            <li>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({ '_locale': locale })) }}">{{ locale|upper }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>