{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block navigation_top %}
{% endblock %}

{% block body_title %}
<div class="jumbotron page-header">
    <h1>{{ directory.get('instance_title').value }}</h1>
</div>
{% endblock %}

{% block instance_panels %}
{% endblock %}

{% block navigation_content %}
{{ knp_menu_render('Celsius3CoreBundle:Builder:directoryMenu', { 'currentClass': 'active' }) }}
{% endblock %}
