<ul class="unstyled">
    <li>{{ pagination.sortable('Default'|trans, 'id')|raw }} - </li>
    <li>{{ pagination.sortable('Name'|trans, 'name')|raw }} - </li>
    <li>{{ pagination.sortable('Website'|trans, 'website')|raw }} - </li>
    <li>{{ pagination.sortable('Title'|trans, 'title')|raw }}</li>
</ul>