<div class="span6">
    <div class="well">
        <h2 class="pull-left">{{ 'Last messages'|trans }}</h2>
        <div class="pull-right">
            <a class="btn btn-primary" href="#">
                <i class="icon-envelope"></i> {{ 'New'|trans }}
            </a>
            <a class="btn" href="#">
                <i class="icon-inbox"></i> {{ 'All'|trans }}
            </a>
        </div>
        <div class="clearfix"></div>
        <ul class="nav nav-list">
            <li>
                <a href="#">04-05-2012 - Hello</a>
            </li>
            <li>
                <a href="#">02-05-2012 - Hi</a>
            </li>
            <li>
                <a href="#">01-05-2012 - Welcome</a>
            </li>
            <li>
                ...
            </li>
        </ul>
    </div>
</div>