<ul class="list-unstyled list-inline">
    <li>
        <a class="submit-catalog-data btn btn-default disabled" href="#"><span class="glyphicon glyphicon-save"></span> {{ 'Save changes'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('admin_catalog_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new catalog'|trans }}
        </a>
    </li>
</ul>