{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Catalog Creation'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">  <h2>{{ 'Catalog Creation'|trans }}</h2></div>
    <div class="panel-body">
        {{ new('admin_catalog', form) }}
    </div>
</div>
{% endblock %}
