{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'News Creation'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}
    <h2>{{ 'News Creation'|trans }}</h2>
    <hr class="separator_hr">
    {{ new('admin_news', form) }}

{% endblock %}

