{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Disabled'|trans }}
{% endblock %}

{% block instance_panels %}
{% endblock %}

{% block content %}
    <h1 class="text-center">{{ 'disabled_instance_message' | trans }}</h1>
{% endblock %}
