{% extends 'CelsiusCelsius3Bundle:Order:_index_fields.html.twig' %}

{% block extrainfo %}
<a class="pull-right label" href="{{ path('superadmin_user',{ 'id': order.owner.id }) }}">{{ order.owner.fullName }}</a>
{% endblock %}

{% block ordercontent %}
{% include 'CelsiusCelsius3Bundle:SuperadminOrder:_index_order_fields.html.twig' %}
{% endblock %}