{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Wait Confirmation'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>{{ 'Wait Confirmation'|trans }}</h2>
            <p>{{ 'Please wait until some administrator confirms your account.'|trans }}</p>
        </div>
    </div>
{% endblock %}
