<ul class="list-unstyled">
    <li>
        <a href="{{ path('superadmin_city_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new city'|trans }}
        </a>
    </li>
    <li>
        <a href="#" class="union_link">
            <span class="glyphicon glyphicon-magnet"></span> {{ 'Union'|trans }}
        </a>
    </li>
</ul>