{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'City Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
<h2>{{ 'City Edit'|trans }} - {{ document.name }}</h2>

{{ edit('superadmin_city', document, edit_form, delete_form) }}
{% endblock %}
