<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'e.updatedAt') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'e.name') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Website'|trans, 'e.website') }}</li>
</ul>
