{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Institution List'|trans }}
{% endblock %}

{% from "Macro/Crud/index.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Institution List'|trans }}</h2>

    {{ index('superadmin_institution', pagination, 'Superadmin/Institution/', filter_form, null, true) }}
{% endblock %}
