parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: celsius3
    database_user: root
    database_password: root

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: 1025
    mailer_user: ~
    mailer_password: ~

    locale: en
    secret: Celsius3hfaksjdhfkajs

    max_per_page: 10

    celsius2_host: localhost
    celsius2_port: 3306
    celsius2_username: root
    celsius2_password: root
    celsius2_database: celsius

    notification_host: 0.0.0.0
    notification_port: 8080
    notification_zmq_host: localhost
    notification_zmq_port: 5555
    notification_limit: 10