_wdt:
    resource: "@WebProfilerBundle/Resources/config/routing/wdt.xml"
    prefix:   /_wdt

_profiler:
    resource: "@WebProfilerBundle/Resources/config/routing/profiler.xml"
    prefix:   /_profiler

_errors:
    resource: "@TwigBundle/Resources/config/routing/errors.xml"
    prefix:   /_error

_main:
    resource: routing.yml

JMSTranslationBundle_ui:
    resource: "@JMSTranslationBundle/Controller/"
    type:     annotation
    prefix:   /_trans

directory_homepage:
    path:   /
    host:   instancia.celsius3.prebi.unlp.edu.ar
    defaults: { _controller: Celsius3CoreBundle:Directory:index }

directory_instances:
    path:   /instances
    host:   instancia.celsius3.prebi.unlp.edu.ar
    defaults: { _controller: Celsius3CoreBundle:Directory:instances }

directory_statistics:
    path:   /statistics
    host:   instancia.celsius3.prebi.unlp.edu.ar
    defaults: { _controller: Celsius3CoreBundle:Directory:statistics }
    options:
        expose: true
