celsius3_api:
    resource: "@Celsius3ApiBundle/Controller/"
    type:     annotation
    prefix:   /api

celsius3_notification:
    resource: "@Celsius3NotificationBundle/Controller/"
    type:     annotation
    prefix:   /

celsius3_message:
    resource: "@Celsius3MessageBundle/Controller/"
    type:     annotation
    prefix:   /

celsius3_core:
    resource: "@Celsius3CoreBundle/Controller/"
    type:     annotation
    prefix:   /
    
blog_show:
    path:      /{url}
    defaults:  { _controller: Celsius3CoreBundle:Public:index }

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"
    prefix: /

fos_user_profile:
    resource: "@Celsius3CoreBundle/Resources/config/routing/profile.xml"
    prefix: /user/profile

fos_user_register:
    resource: "@Celsius3CoreBundle/Resources/config/routing/registration.xml"
    prefix: /{url}/public/register

fos_user_resetting:
    resource: "@Celsius3CoreBundle/Resources/config/routing/resetting.xml"
    prefix: /

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /user/profile

fos_message:
    resource: "@Celsius3MessageBundle/Resources/config/routing.xml"
    prefix: /user/message

fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"

# Internal routing configuration to handle ESI
#_internal:
#   resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#   prefix:   /_internal

fos_oauth_server_token:
    resource: "@FOSOAuthServerBundle/Resources/config/routing/token.xml"

fos_oauth_server_authorize:
    resource: "@FOSOAuthServerBundle/Resources/config/routing/authorize.xml"