security:
    providers:
        fos_userbundle:
            id: celsius3_core.security.user_provider.username_email

    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
                login_path: fos_user_security_login
                check_path: fos_user_security_check
                failure_handler: celsius3_core.security.authentication_failure_handler
                success_handler: celsius3_core.security.authentication_success_handler
                default_target_path: user_index
                use_referer: true
            logout:
                path:   fos_user_security_logout
                target: public_index
                success_handler: celsius3_core.security.logout_success_handler
            anonymous:    true
            switch_user: { role: ROLE_ADMIN }

        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false
            
        oauth_token:
            pattern:    ^/api/oauth/v2/token
            security:   false

        oauth_authorize:
            pattern:    ^/api/oauth/v2/auth
            form_login:
                provider: fos_userbundle
                check_path: fos_user_security_check
                login_path: fos_user_security_login
            anonymous: false

        api:
            pattern:    ^/.*/api
            fos_oauth:  true
            stateless:  true
            anonymous:  false

    access_control:
        - { path: ^/.*/api/oauth, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/.*/api, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/.*/public, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/.*/bibliotecario/user, role: ROLE_LIBRARIAN }
        - { path: ^/.*/user, role: ROLE_USER }
        - { path: ^/.*/admin, role: ROLE_ORDER_MANAGER }
        - { path: ^/.*/superadmin, role: ROLE_SUPER_ADMIN }
        - { path: ^/.*/migration, role: ROLE_MIGRATOR }
        
    role_hierarchy:
        ROLE_LIBRARIAN:   ROLE_USER
        ROLE_ADMIN:       ROLE_LIBRARIAN
        ROLE_SUPER_ADMIN: ROLE_ADMIN
        ROLE_ORDER_MANAGER: ROLE_USER
        ROLE_STATISTICS: ROLE_ADMIN
        ROLE_TICKET: ROLE_ADMIN
        ROLE_TECHNICAL: ROLE_SUPER_ADMIN
