<div class="col-md-8">
    {% set folder = 'Celsius3CoreBundle:AdminOrder' %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="sorting-group pull-right">
        <span>
            {{ 'Sort by'|trans }}: 
        </span>
        {% include folder ~ ':_index_sort.html.twig' %}
    </div>
    <div class="clearfix"></div>

    {% for element in pagination %}
        {% include folder ~ ':_index_element.html.twig' %}
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>