<div class="col-md-4">
    <h2>{{ 'Pending users'|trans }}</h2>
    <ul class="list-group">
    {% for user in users %}
        <li class="list-group-item user-item">
            <div class="pull-left user-data">
                <input type="hidden" name="userId" value="{{ user.id }}" />
                {{ user }}
            </div>
            <div class="pull-right">
                <ul class="list-unstyled list-inline">
                    <li><a class="user-enable" href="#"><span class="glyphicon glyphicon-ok"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </li>
    {% endfor %}
    </ul>
</div>