{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Administration'|trans }}
{% endblock %}

{% block content %}
    <div ng-app="administrationApp" ng-controller="AdministrationCtrl">
        <div ng-view>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/ng-app/Administration/js/app.js"></script>
    <script type="text/javascript" src="/ng-app/Administration/js/resources.js"></script>
    <script type="text/javascript" src="/ng-app/Administration/js/controllers.js"></script>
    <script type="text/javascript" src="/ng-app/Administration/js/filters.js"></script>
{% endblock %}
