{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'Administration'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% include 'Celsius3CoreBundle:Administration:_dash.html.twig' %}
    </div>
</div>
<div class="row">
    {% include 'Celsius3CoreBundle:Administration:_order_span.html.twig' %}
</div>
{% endblock %}
