<ul class="unstyled">
    <li>
        <a href="{{ path('admin_customuserfield_new') }}">
            <i class="icon-plus"></i> {{ 'Create a new custom field'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_instance_configure') }}">
            <i class="icon-wrench"></i> {{ 'Go to Configuration'|trans }}
        </a>
    </li>
</ul>