<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Key'|trans, 'key') }}</li>
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'name') }}</li>
</ul>
