<ul class="list-unstyled">
    <li>
        <a href="{{ path('admin_customuserfield_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new custom field'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_instance_configure') }}">
            <span class="glyphicon glyphicon-wrench"></span> {{ 'Go to Configuration'|trans }}
        </a>
    </li>
</ul>