{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Custom Field Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
    <h2>{{ 'Custom User Field Edit'|trans }} - {{ entity.name }}</h2>

    {{ edit('admin_customuserfield', entity, edit_form) }}
{% endblock %}
