{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'Custom Field Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
<h2>{{ 'Custom User Field Edit'|trans }} - {{ document.name }}</h2>

{{ edit('admin_customuserfield', document, edit_form, delete_form) }}
{% endblock %}