{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Custom Field Creation'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}
    <h2>{{ 'Custom User Field Creation'|trans }}</h2>
    <hr class="separator_hr">
    {{ new('admin_customuserfield', form, 'Celsius3CoreBundle:AdminCustomUserField', true) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#custom_user_field_value').parent().hide();
        $('#custom_user_field_type').bind('change', function () {
            /*
               1 = select
            */
            if ($('#custom_user_field_type').val() == '1') {
                $('#custom_user_field_value').parent().show();
            } else {
                $('#custom_user_field_value').parent().hide();
                $('#custom_user_field_value').val("");

            }
        });

    </script>
{% endblock %}
