{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Order List'|trans }}
{% endblock %}

{% from "Macro/Crud/index.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Order List'|trans }}</h2>

    {{ index('superadmin_order', pagination, 'Superadmin/Order/', filter_form, null, false, true) }}
{% endblock %}
