{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Order View'|trans }}
{% endblock %}

{% from "Macro/Crud/show.html.twig" import show as show %}

{% block content %}
    <h2>{{ 'Order View'|trans }} - {{ entity.code ~ ' - ' ~ entity.materialData.title }}</h2>

    {{ show('superadmin_order', entity, 'Superadmin/Order/') }}
{% endblock %}
