<ul class="list-unstyled pull-right actions">
    <li>
        <a href="{{ path('superadmin_institution_edit', { 'id': element.id }) }}" data-toggle="tooltip" title="{{ 'Edit'|trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
    </li>
    <li>
        <a href="{{ path('superadmin_institution_show', { 'id': element.id }) }}" data-toggle="tooltip" title="{{ 'View'|trans }}"><span class="glyphicon glyphicon-search"></span></a>
    </li>
</ul>
