<ul class="unstyled pull-right actions">
    <li>
        <a href="{{ path('superadmin_institution_edit', { 'id': institution.id }) }}"><i class="icon-pencil"></i> {{ 'Edit'|trans }}</a>
    </li>
</ul>