{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Institution Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
    <h2>{{ 'Institution Edit'|trans }} - {{ entity.name }}</h2>
    <hr class="separator_hr">
    {{ edit('admin_institution', entity, edit_form, 'Celsius3CoreBundle:AdminInstitution', true) }}
{% endblock %}
