{% include 'Celsius3CoreBundle:Layout:cci.js.twig' %}
<form action="{{ path('fos_user_registration_register', { 'url': app.request.get('url') }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal well">
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    </div>
</form>
