<form action="{{ path('fos_user_registration_register', { 'url': app.request.get('url') }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register well">
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
