{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Register'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>{{ 'Register'|trans }}</h2>
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
</div>
{% endblock %}
