<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form" role="form">
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <button type="submit" class="btn btn-primary submit-button"><i class="icon-ok"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
