{{ form_start(form, { 'action': path('fos_user_change_password'), 'method': 'POST', 'class': 'form', 'role': 'form' }) }}
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
<button type="submit" class="btn btn-primary submit-button">
    <i class="icon-ok"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
</button>
{{ form_end(form) }}
