{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Change Password'|trans }}
{% endblock %}

{% block content %}


<div class="panel panel-default">
    <div class="panel-heading">   <h2>{{ 'Change Password'|trans }}</h2></div>
    <div class="panel-body">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    </div>
   </div>
</div>
{% endblock %}
