<ul class="unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'name') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Postal code'|trans, 'postalCode') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Country'|trans, 'country') }}</li>
</ul>