{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'City Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
    <h2>{{ 'City Edit'|trans }} - {{ entity.name }}</h2>

    {{ edit('admin_city', entity, edit_form, delete_form) }}
{% endblock %}
