<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'e.updated_at') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'e.file.name') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'IP'|trans, 'e.ip') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'userAgent'|trans, 'e.userAgent') }} </li>
</ul>
