<ul class="list-unstyled">
    <li>
        <a href="{{ path('superadmin_mails_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new mail'|trans }}
        </a>
    </li>
</ul>
