{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Catalog List'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Catalog List'|trans }}</h2>

    {{ index('superadmin_catalog', pagination, 'Celsius3CoreBundle:SuperadminCatalog', filter_form, null, true) }}
{% endblock %}
