<ul class="unstyled">
    <li>{{ pagination.sortable('Default'|trans, 'id')|raw }} - </li>
    <li>{{ pagination.sortable('Title'|trans, 'title')|raw }} - </li>
    <li>{{ pagination.sortable('Code'|trans, 'code')|raw }} - </li>
</ul>