<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password well">
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
