<ul class="unstyled">
    <li>
        <a href="{{ path('superadmin_catalog_new') }}">
            <i class="icon-plus"></i> {{ 'Create a new catalog'|trans }}
        </a>
    </li>
    <li>
        <a href="#" class="union_link">
            <i class="icon-magnet"></i> {{ 'Union'|trans }}
        </a>
    </li>
</ul>