{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Catalog Creation'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}
    <h2>{{ 'Catalog Creation'|trans }}</h2>

    {{ new('superadmin_catalog', form) }}
{% endblock %}
