{% extends 'CelsiusCelsius3Bundle:Order:_index_fields.html.twig' %}

{% block extrainfo %}
{% if app.user.username != order.owner.username %}
<span class="label pull-right">{{ order.owner.surname }}, {{ order.owner.name }}</span>
{% endif %}
{% endblock %}

{% block ordercontent %}
{% include 'CelsiusCelsius3Bundle:UserOrder:_index_order_fields.html.twig' %}
{% endblock %}