<div class="form-group" ng-class="ccierror" ng-if="select_count === 0 || data.institutions">
    <label ng-if="data.id === 'institution0'" for="{{data.id}}">{{'institution' | translate}}</label>
    <select style="" ui-select2="select2Institutions" ng-model="data.institution" class="institution" name="{{data.name}}" id="{{data.id}}" ng-change="institutionChanged(data)">
        <option></option>
        <option ng-repeat="i in data.institutions" value="{{i.id}}">{{i}}</option>
    </select>
</div>
<div ng-repeat="data in data.child" ng-include="'/ng-app/Directives/CCI/partials/institution_select.html'">

</div>