<div class="col-md-8">
    <h2>{{ 'Orders'|trans }}</h2>
    <h2>
        <a href="{{ path('user_order_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Add order'|trans }}
        </a>
    </h2>
    {% for element in lastOrders %}
        {% include 'Celsius3CoreBundle:UserOrder:_index_element.html.twig' %}
    {% endfor %}
</div>
