{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}
{% block title %}
{{ 'My Site'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    {% include 'Celsius3CoreBundle:User:_orders_span.html.twig' %}
    {% include 'Celsius3CoreBundle:User:_sidebar_span.html.twig' %}
</div>
{% endblock %}
