{% if hasState %}
<div id="{{ 'info_'~state }}" class="collapse {{ isCurrent?'in':'' }}">
    <div class="well">
        {% for event in order.getState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__APPROVAL_PENDING'), instance).remoteEvents %}
            {{ render_receive_event(event, order)|raw }}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {    
    $('.submit-approve-form').click(function(){
        $(this).parent().submit();
    });
    
    $('.submit-reclaim-form').click(function(){
        $(this).parent().submit();
    });
});
</script>
{% endif %}