<div id="{{ 'info_'~state }}" class="collapse {{ isCurrent?'in':'' }}">
    <div class="well">
    {% if order.hasState('received') %}
        {% for event in order.getState('received').events %}
        {{ render_receive_event(event, order)|raw }}
        {% endfor %}
    {% endif %}
    </div>
</div>