<a class="{{ order.hasState(state)?'':'disabled' }} {{ hasPrevious?'pointer':'' }}" data-toggle="collapse" data-parent="#state-info" href="#{{ 'info_'~state~(order.hasState(state)?'':'_disabled') }}">
    {{ state|capitalize|trans }}
</a>