<div class="well">
    <ul class="state-list">
        {% for key, state in positive_states %}
            <li>{{ render(controller('CelsiusCelsius3Bundle:AdminOrder:stateHeader', { 'state': key, 'document': document })) }}</li>
        {% endfor %}
    </ul>
</div>
<div id="state-info">
    {% for key, state in positive_states %}
        {{ render(controller('CelsiusCelsius3Bundle:AdminOrder:stateBody', { 'state': key, 'document': document })) }}
    {% endfor %}
</div>

<script type="text/javascript">
    // Como no se utiliza accordion-group hay que ocultar "a mano" los elementos
    // mostrados cuando se presiona otro link
    $(document).ready(function(){
        $('.state-list a.pointer').click(function(e){
            $('#state-info .in').collapse('hide');
        });
    });
</script>