<ul class="list-unstyled pull-right actions">
    <li>
        <a href="{{ path('user_notification_view', { 'id': element.id }) }}"><span class="glyphicon glyphicon-ok"></span> {{ 'View'|trans }}</a>
    </li>
</ul>