<ul class="unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Cause'|trans, 'cause') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Created at'|trans, 'createdAt') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Viewed'|trans, 'isViewed') }} - </li>
</ul>