<ul class="list-unstyled">
    <li>
        <a href="{{ path('superadmin_user_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new user'|trans }}
        </a>
    </li>
</ul>
