{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Country Creation' | trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import new as new %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ 'Country Creation' | trans }}</h2>
            <hr class="separator_hr">
            {{ new('admin_country', form, 'Celsius3CoreBundle:AdminCountry', true) }}
        </div>
    </div>
{% endblock %}
