<div class="modal fade" id="news{{ news.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>{{ news.title }}</h4><p>{{ news.date|localizeddate('medium','short') }}</p>
            </div>
            <div class="modal-body">
                <div>
                    {{ news.text|raw }}
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
