<ul class="list-unstyled">
    <li>
        <a href="{{ path('superadmin_hive_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new hive'|trans }}
        </a>
    </li>
</ul>