{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Hive Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
    <h2>{{ 'Hive Edit'|trans }} - {{ entity.name }}</h2>

    {{ edit('superadmin_hive', entity, edit_form) }}
{% endblock %}
