{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Hive List'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
<h2>{{ 'Hive List'|trans }}</h2>

{{ index('superadmin_hive', pagination, 'Celsius3CoreBundle:SuperadminHive') }}
{% endblock %}
