{% extends 'Celsius3MigrationBundle:Layout:migration_layout.html.twig' %}

{% block content %}
<form action="{{ path('migration_process') }}" method="post" enctype="">
    <p>
        <label for="host">Host</label>
        <input type="text" name="host" id="host" />
    </p>
    <p>
        <label for="port">Port</label>
        <input type="text" name="port" id="port" />
    </p>
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </p>
    <p>
        <label for="database">CelsiusNT Database</label>
        <input type="text" name="database" id="database" />
    </p>
    <p>
        <input type="submit" value="Start" />
    </p>
</form>
{% endblock %}
