<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'e.id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'IP'|trans, 'e.ip') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'userAgent'|trans, 'e.userAgent') }} </li>
{#    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'file.name') }}</li>#}
</ul>
