<ul class="list-unstyled">
    <li>
        <a href="{{ path('admin_file_download_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new '|trans }}
        </a>
    </li>
</ul>
