<ul class="unstyled">
    <li>
        <a href="{{ path('superadmin_instance_new') }}">
            <i class="icon-plus"></i> {{ 'Create a new instance'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('superadmin_contact') }}">
            <i class="icon-bookmark"></i> {{ 'Contacts'|trans }}
        </a>
    </li>
</ul>