<ul class="unstyled">
    <li>{{ pagination.sortable('Default'|trans, 'id')|raw }} - </li>
    <li>{{ pagination.sortable('Name'|trans, 'name')|raw }} - </li>
    <li>{{ pagination.sortable('Postal code'|trans, 'postalCode')|raw }} - </li>
    <li>{{ pagination.sortable('Country'|trans, 'country')|raw }}</li>
</ul>