{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
    <h3>{{ 'sent' | trans({}, 'FOSMessageBundle') }}</h3>

    <div class="row">
        <div class="col-md-9">
            {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads, 'urlAction' : 'fos_message_sent'} %}
        </div>
        <div class="col-md-3">
            {% include 'FOSMessageBundle:Message:sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}
