<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'e.id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'e.title') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'e.date') }}</li>
</ul>
