{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'News List'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
<h2>{{ 'News List'|trans }}</h2>

{{ index('superadmin_news', pagination, 'Celsius3CoreBundle:SuperadminNews', filter_form) }}
{% endblock %}
