{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'City List'|trans }}
{% endblock %}

{% from "Macro/Crud/index.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'City List'|trans }}</h2>

    {{ index('superadmin_city', pagination, 'Superadmin/City/', filter_form, null, true) }}
{% endblock %}
