<ul class="list-unstyled">
    <li>
        <a href="{{ path('admin_user_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new user'|trans }}
        </a>
    </li>
    <li>
        <a href="#" class="enable_link">
            <span class="glyphicon glyphicon-ok"></span> {{ 'Enable'|trans }}
        </a>
    </li>
    <li>
        <a href="#" class="union_link">
            <span class="glyphicon glyphicon-magnet"></span> {{ 'Union'|trans }}
        </a>
    </li>
</ul>