{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'User Transform'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import transform as transform %}

{% block content %}
<h2>{{ 'User Transform'|trans }} - {{ document.name }}</h2>

{{ transform('admin_user', document, transform_form) }}
{% endblock %}