{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}
{% form_theme transform_form 'Celsius3CoreBundle:Form:fields.html.twig' %}


{% block title %}
    {{ 'User Transform' | trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import transform as transform %}

{% block content %}
    <h2>{{ 'User Transform' | trans }} - {{ entity.name }}</h2>
    <hr class="separator_hr">

    {{ transform('admin_user', entity, transform_form) }}

{% endblock %}
