<div class="dropdown">
  <a class="dropdown-toggle btn " data-toggle="dropdown" href="#">Notifications <i class="icon-star"></i></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      {% if newMessage.templates is defined%}
            {% for flashMessage in newMessage.templates %}
                <li><a tabindex="-1" href="#">{{ flashMessage|trans|raw|nl2br }}</a></li>
            {% endfor %}
      {% endif %}
    </ul>
</div>

