<ul class="unstyled">
    <li>{{ pagination.sortable('Default'|trans, 'id')|raw }} - </li>
    <li>{{ pagination.sortable('Title'|trans, 'title')|raw }} - </li>
    <li>{{ pagination.sortable('Date'|trans, 'date')|raw }}</li>
</ul>