{% extends 'CelsiusCelsius3Bundle:Order:_show_fields.html.twig' %}

{% block statelist %}
<ul class="state-list well">
    {% for key, state in get_positive_states() %}
    <li>{{ render_state(key, document)|raw }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block extrafields %}
<dt>{{ 'User'|trans }}</dt>
<dd>{{ document.owner.username }}</dd>
{% endblock %}