<form action="{{ path('fos_user_resetting_reset', { 'url': app.request.get('url'), 'token': token }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-horizontal well">
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <div>
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
