{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block navigation_top %}
{% endblock %}

{% block body_title %}
<div class="well page-header">
    <h1>{{ 'Celsius3 Migration'|trans }}</h1>
</div>
{% endblock %}

{% block user_panel %}
{% endblock %}

{% block message_panel %}
{% endblock %}

{% block navigation_content %}
{% endblock %}
