{% block statelist %}{% endblock %}
<dl class="dl-horizontal">
    <dt>{{ 'Code'|trans }}</dt>
    <dd>{{ element.code }}</dd>
    {% block extrafields %}{% endblock %}
</dl>
<div class="thumbnail">
    {{ render_material(element.materialData)|raw }}
</div>