<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'e.updated_at') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'e.name') }}</li>
</ul>
