{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Network Administration'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        {% include 'CelsiusCelsius3Bundle:Superadministration:_dash.html.twig' %}
    </div>
</div>
<div class="row">
    {% include 'CelsiusCelsius3Bundle:Superadministration:_shared_span.html.twig' %}
    {% include 'CelsiusCelsius3Bundle:Superadministration:_global_span.html.twig' %}
    {% include 'CelsiusCelsius3Bundle:Superadministration:_other_span.html.twig' %}
</div>
{% endblock %}
