<item>
    <title>{{ news.title }}</title>
    <guid isPermaLink="false">{{ news.id }}</guid>
    <pubDate>{{ news.date|date("D, d M Y H:i:s O") }}</pubDate>
    <description>{{ news.text|escape }}</description>
</item>
