{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Notification List'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Notification List'|trans }}</h2>
    <hr class="separator_hr">

    {{ index('user_notification', pagination, 'Celsius3NotificationBundle:Notification', filter_form) }}
{% endblock %}
