<div class="row" ng-include="'/ng-app/User/partials/messages.html'">
</div>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ {path: 'fos_user_profile_edit'}|get_url }}"><span class="glyphicon glyphicon-user"></span>  {{'editProfile'|translate}}</a>
        </li>
        <li class="list-group-item">
            <a href="{{ {path: 'user_order', params: {state: ['delivered', 'cancelled', 'anulled']} }|get_url}}"><span class="glyphicon glyphicon-book"></span> {{'orderHistory'|translate}}</a>
        </li>
        <li class="list-group-item" ng-if="user.is_librarian">
            <a href="#"><span class="glyphicon glyphicon-list"></span>  {{'institutionUsers'|translate}}</a>
        </li>
    </ul>
</div>