<ul class="list-unstyled">
    <li>
        <a href="{{ path('superadmin_instance_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new instance'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('superadmin_contact') }}">
            <span class="glyphicon glyphicon-bookmark"></span> {{ 'Contacts'|trans }}
        </a>
    </li>
</ul>
