<div class="row">
    <h1>{{ title | translate }} - {{ subtitle | translate }}</h1>
    <div class="col-md-3" ng-include="'/ng-app/Statistics/partials/menu.html'"></div>
    <div class="col-md-9" >
        <div class="row" ng-if="searchProvision">
            <ul class="nav nav-tabs">
                <li class="{{searchClass}}"><a href ng-click="setTypeSearch()">{{'search'|translate}}</a></li>
                <li class="{{provisionClass}}"><a href ng-click="setTypeProvision()">{{'provision'|translate}}</a></li>
            </ul>
        </div>
        <div class="row">
            <form>
                <p>
                    <label for="initialYear">{{'initialYear'|translate}}:</label>
                    <select id="initialYear" ng-model="initialYear" ng-options="year for year in years" ng-change="initialYearChange()"></select>

                    <label for="finalYear">{{'finalYear'|translate}}:</label>
                    <select id="finalYear" ng-model="finalYear" ng-options="year for year in years" ng-change="finalYearChange()"></select>
                </p>
                <p ng-if="locationFields">
                    <label for="country">{{'country'|translate}}:</label>
                    <select ng-model="location.country" id="country" ng-change="countryChanged()">
                        <option></option>
                        <option ng-repeat="c in allCountries" value="{{c.value}}">{{c.name}}</option>
                    </select>

                    <label for="institution">{{'institution'|translate}}:</label>
                    <select ng-model="location.institution" id="institution">
                        <option></option>
                        <option ng-repeat="i in institutions" value="{{i.value}}">{{i.name}}</option>
                    </select>
                </p>
                <p ng-show="selectDelayType">
                    <input type="radio" ng-model="delayType" value="totalDelay">{{'totalDelay'|translate}}
                    <input type="radio" ng-model="delayType" value="locationDelay">{{'locationDelay'|translate}}
                    <input type="radio" ng-model="delayType" value="responseDelay">{{'responseDelay'|translate}}
                </p>
                <button id="updateChart" ng-click="updateChart()">{{'update'|translate}}</button>
            </form>
        </div>
        <div id="chart" class="row"></div>
        <div id="table" class="row" ng-include="'/ng-app/Statistics/partials/table.html'"></div>
    </div>
</div>
