<div class="row">
    <h1>{{ title }} - {{ subtitle }}</h1>
    <div class="col-sm-3">
<!--        <div ng-include="'/ng-app/Statistics/partials/menu.html'"></div>-->
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="" style="cursor:pointer" ng-click="getUsersCountData()"><a>Users count</a></li>
      <li role="presentation" class="" style="cursor:pointer" ng-click="getRequestsOriginData()"><a>Requests Origin</a></li>
    </ul>
    </div>
    <div class="col-sm-9">
        <div ng-include="section"></div>
        <div id="chart"></div>
    </div>
</div>
