<hr>
<div class="row table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>{{ firstColumnTitle | translate }}</b></td>
                <td ng-repeat="v in data.columns"><b>{{ v[0] }}</b></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, value) in data.categories">
                <td>{{ value }}</td>
                <td ng-repeat="v in data.columns">{{ v[key + 1] }}</td>
            </tr>
        </tbody>
    </table>
</div>