{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'User Edit'|trans }}
{% endblock %}

{% from "Macro/Crud/edit.html.twig" import edit as edit %}

{% block content %}
    <h2>{{ 'User Edit'|trans }} - {{ entity.username }}</h2>
    <hr class="separator_hr">
    {{ edit('admin_user', entity, edit_form, 'Admin/BaseUser/', true) }}
{% endblock %}
