{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'User Creation' | trans }}
{% endblock %}

{% from "Macro/Crud/new.html.twig" import new as new %}

{% block content %}
    <h2>{{ 'User Creation' | trans }}</h2>
    <hr class="separator_hr">
    {{ new('admin_user', form, 'Admin/BaseUser/', true) }}
{% endblock %}
