<?xml version="1.0" encoding="iso-8859-1"?> 
<feed xmlns="http://www.w3.org/2005/Atom">
        <title>{{instance}}</title>
	<subtitle>Aqui podra encontrar las noticias recientes.</subtitle>
	<link>{{url}}</link>
        <entry>
            {% for news in lastNews %}
                 {% include 'CelsiusCelsius3Bundle:NewsFeeds:_new_atom.html.twig' %}
            {% endfor %}
        </entry>        
</feed>