<ul class="nav nav-pills">
    <li>
        <a href="{{ path('directory') }}">{{ 'Home'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('directory_instances') }}">{{ 'Instances'|trans }}</a>
    </li>
</ul>