{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Hive Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">  <h2>{{ 'Hive Edit'|trans }} - {{ entity.name }}</h2></div>
    <div class="panel-body">
        {{ edit('superadmin_hive', entity, edit_form) }}
    </div>
</div>
{% endblock %}
