{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Orders List'|trans }}
{% endblock %}

{% from "Macro/Crud/index.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Order List'|trans }}</h2>
    <hr class="separator_hr">
    {{ index('user_order', pagination, 'User/Order/', filter_form, instance, false, true) }}
{% endblock %}
