{% set ajax_path = 'user_ajax' %}
{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Order Creation' | trans }}
{% endblock %}

{% from "Macro/Crud/new.html.twig" import new as new %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
                <h2>{{ 'Order Creation' | trans }}</h2>
                <hr class="separator_hr">
                {{ new('user_order', form, 'User/Order/', true, entity) }}
        </div>
    </div>
{% endblock %}
