{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Order View'|trans }}
{% endblock %}

{% from "Macro/Crud/show.html.twig" import show as show %}

{% block content %}
    <h2>{{ 'Order View'|trans }}</h2>

    {{ show('user_order', entity, 'User/Order/', instance, true) }}
{% endblock %}
