{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Change Password' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>{{ 'Change Password' | trans }}</h2>
            <hr class="separator_hr">
            {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
        </div>
    </div>
{% endblock %}
