<table class="table table-hover catalog-table">
    <thead>
        <tr>
            <th>{{'catalog' | translate}}</th>
            <th>{{'date' | translate}}</th>
            <th>{{'result' | translate}}</th>
            <th>{{'actions' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="catalog in catalogsWithSearches">
            <td class="catalog-data">
                <p class="{{hasResult(catalog) ? 'lead' : ''}}"><a ng-href="{{catalog.url}}" target="_blank">{{catalog.name}}</a></p>
            </td>
            <td class="catalog-result">
                {{catalog.search.date|date:'mediumDate'}}
            </td>
            <td class="catalog-marker">
                <select ng-model="catalog.search.result" ng-options="s.value as s.text for s in search_results" ng-change="updateCatalog(catalog)">
                    <option value=""></option>
                </select>
            </td>
            <td class="catalog-actions">
                <a href ng-if="catalog.institution && catalog.search" ng-click="requestFromCatalog(catalog)" class="btn">{{'request' | translate}}</a>
            </td>
        </tr>
    </tbody>
</table>