<table class="table table-hover catalog-table">
    <thead>
        <tr>
            <th>{{'Catalog'}}</th>
            <th>{{'Result'}}</th>
            <th>{{'State'}}</th>
            <th>{{'Actions'}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="catalog in catalogsWithSearches">
            <td class="catalog-data">
                <p>{{catalog.name}}</p>
                <p><a ng-href="{{catalog.url}}" target="_blank">{{catalog.url}}</a></p>
            </td>
            <td class="catalog-result">
                {{catalog.search|search_date}}
            </td>
            <td class="catalog-marker">
                <select ng-model="catalog.search.result" ng-options="s.value as s.text for s in search_results" ng-change="updateCatalog(catalog)">
                    <option value=""></option>
                </select>
            </td>
            <td class="catalog-actions">
                <a href="#" class="btn">{{'Request'}}</a>
            </td>
        </tr>
    </tbody>
</table>