<table class="table table-hover catalog-table">
    <thead>
        <tr>
            <th>{{'name' | translate}}</th>
            <th>{{'pages' | translate}}</th>
            <th>{{'state' | translate}}</th>
            <th>{{'actions' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="file in files.list">
            <td>{{file.name}}</td>
            <td>{{file.pages}}</td>
            <td>{{file | state | translate}}</td>
            <td>
                <a href ng-click="changeFileState(file)" class="btn">{{'changeState' | translate}}</a>
            </td>
        </tr>
    </tbody>
</table>