<form class="form-horizontal" id="emailForm" name="formNames.email" ng-submit="sendEmail()">
    <div class="form_group">
        <label for="contact">{{'Contact'}}</label>
        <select class="form-control" name="contact" id="contact">
            
        </select>
    </div>
    <div class="form_group">
        <label for="address">{{'Address'}}</label>
        <input type="text" class="form-control" ng-model="forms.email.address" name="address" id="address" />
    </div>
    <div class="form_group">
        <label for="template">{{'Template'}}</label>
        <select class="form-control" name="template" id="template">
            
        </select>
    </div>
    <div class="form_group">
        <label for="text">{{'Text'}}</label>
        <textarea class="form-control" name="text" id="text">
            
        </textarea>
    </div>
</form>