<div class="alert alert-success" ng-if="request.current_state === 'received'">
    {{'The files have been successfully uploaded.'}}
</div>
<form class="form-horizontal" id="uploadForm">
    <div class="form-group">
        <label for="files">{{'Files'}}</label>
        <div class="input-group">
            <input ng-file-select="" type="file" multiple="multiple" id="files" name="files" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-success" ng-click="submitUpload()">{{'Upload'}}</button>
            </span>
        </div>
    </div>
</form>