<form class="form-horizontal" id="emailForm" name="formNames.email" ng-submit="sendEmail()">
    <div class="form-group">
        <label for="contact">{{'Contact'}}</label>
        <select ui-select2="{placeholder: 'Select a contact', allowClear: true}" ng-model="forms.email.contact" class="form-control" name="contact" id="contact" ng-change="contactChanged()">
            <option></option>
            <option ng-repeat="c in contacts" value="{{c.id}}">{{c.surname + ', ' + c.name}} ({{c.type.name}})</option>
        </select>
    </div>
    <div class="form-group" ng-class="emailerror">
        <label for="address">{{'Address'}}</label>
        <input type="email" class="form-control" ng-model="forms.email.address" name="address" id="address" required />
    </div>
    <div class="form-group">
        <label for="template">{{'Template'}}</label>
        <select ui-select2="{placeholder: 'Select a mail template', allowClear: true}" ng-model="forms.email.template" class="form-control" name="template" id="template" ng-click="templateChanged()">
            <option></option>
            <option ng-repeat="t in templates" value="{{t.id}}">{{t.title}}</option>
        </select>
    </div>
    <div class="form-group" ng-class="subjecterror">
        <label for="subject">{{'Subject'}}</label>
        <input type="text" class="form-control" ng-model="forms.email.subject" name="subject" id="subject" required />
    </div>
    <div class="form-group" ng-class="texterror">
        <label for="text">{{'Text'}}</label>
        <textarea class="form-control" name="text" id="text" ng-model="forms.email.text" required >
            
        </textarea>
    </div>
</form>