<form class="form-horizontal" id="receiveForm" name="formNames.receive" novalidate >
    <div class="form-group" ng-class="delivery_type_error">
        <label for="delivery_type">{{'deliveryType' | translate}}</label>
        <select ui-select2 ng-model="forms.receive.delivery_type" name="delivery_type" id="delivery_type" required>
            <option value=""></option>
            <option value="pdf">{{'pdf' | translate}}</option>
            <option value="printed">{{'printed' | translate}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="observations">{{'observations' | translate}}</label>
        <textarea class="form-control" ng-model="forms.receive.observations" name="observations" id="observations"></textarea>
    </div>
    <div class="form-group" ng-class="files_error">
        <label for="files">{{'files' | translate}}</label>
        <button ng-file-select ng-file-change="addFilesToUpload($files)" ng-multiple="true">{{ 'addFiles' | translate }}</button>
        <ul>
            <li ng-repeat="(key, file) in filesToUpload">{{ file.name }}</li>
        </ul>
    </div>
</form>