<div class="panel2_ok col-md-1"></div>
<div class="panel3_ok col-md-4">
    <div class="relojito">
        <a ng-repeat="file in getReceive(request).files.slice(0,3)" ng-href="{{getFileDownloadRoute(file)}}" title="{{file.name}}">
            <img src="/bundles/celsius3core/images/icon_hoja_white.png" width="11" height="20" alt="download link" />
        </a>
        <a href title="{{'View all'}}" ng-click="files.list = getReceive(request).files" data-target="#files-modal" role="button" data-toggle="modal">
            <span class="glyphicon glyphicon-list-alt"></span>
        </a>
        <span ng-if="hasReclaim(getReceive(request))" class="glyphicon glyphicon-warning-sign"></span>
    </div>
    <div class="fecha_hoja">{{getReceive(request).date | date:'dd-MM-yyyy'}}</div>
</div>
<div class="panel3_ok col-md-1 panel3_last_ok">
    <ul class="list-unstyled request-actions">
        <li ng-if="request.type === 'mirequest' && !hasApprove(getReceive(request))">
            <a href bs-tooltip="approveTooltip" ng-click="approve(getReceive(request))"><span class="glyphicon glyphicon-ok"></span></a>
        </li>
        <li ng-if="request.type === 'mirequest' && !hasApprove(getReceive(request))">
            <a href bs-tooltip="reclaimTooltip" ng-click="forms.reclaim.receive = getReceive(request).id" data-target="#reclaim-modal" data-toggle="modal"><span class="glyphicon glyphicon-repeat"></span></a>
        </li>
        <li ng-if="request.type === 'sirequest' || hasApprove(getReceive(request))">
            <a href bs-tooltip="reuploadTooltip" ng-click="forms.reupload.receive = getReceive(request).id" data-target="#reupload-modal" role="button" data-toggle="modal">
                <span class="glyphicon glyphicon-upload"></span>
            </a>
        </li>
    </ul>
</div>