<div class="item_container row">
    <div class="top_info">
        <div class="top_left">
            <div class="{{ request.type === 'search' ? 'busqueda' : 'provision'}}">{{ request.type === 'search' ? 'B' : 'P'}}</div>
            <div class="tipoarticulo">{{ order.material_data.type }}</div>
        </div>

        <div class="top_right">	
            <div class="status-{{ request.current_state }}"></div>
            <div class="uri">{{ order.code }}</div>
            <div class="usuario">
                {{ request.operator ? request.operator : '&nbsp;' }}
            </div>
            <div class="decoracion"></div>
        </div>
    </div>
</div>