<div class="col-md-3" ng-include="'/ng-app/AdminOrder/partials/show_order_actions.html'">
</div>

<div id="panel_contenido" class="col-md-9">
    <div class="row" ng-include="'/ng-app/AdminOrder/partials/show_order_request_summary.html'">
    </div>

    <div class="panelsecundario row">
        <h1>{{'Searches'}}</h1>
        <div ng-include="'/ng-app/AdminOrder/partials/show_order_catalog_results.html'" ng-if="countSearches() > 0">
            
        </div>
        <div ng-if="countSearches() === 0">
            <p>{{'There are no searches.'}}</p>
        </div>
    </div>
</div>