<h1>{{'requests' | translate}}</h1>
<div class="no-requests" ng-if="requests.length === 0">
    {{'noRequests' | translate}}
</div>
<div ng-if="requests.length > 0">
    <div ng-repeat="request in requests" class="item1 col-md-6">
        <div class="panel1 col-md-5" bs-tooltip="institutionTooltip(request.provider)">
            <div class="cat_estrella"></div>
            <div class="cat_datos">
                <div class="cat_titulo">{{request.provider.name}}</div>
                <div class="cat_fecha"></div>
            </div>
        </div>
        <div ng-if="!hasReceive(request) && !request.is_cancelled" ng-include="'/ng-app/AdminOrder/partials/request_not_received.html'">
            
        </div>
        <div ng-if="hasReceive(request) && !request.is_cancelled" ng-include="'/ng-app/AdminOrder/partials/request_received.html'">
            
        </div>
        <div ng-if="request.is_cancelled" ng-include="'/ng-app/AdminOrder/partials/request_cancelled.html'">
            
        </div>
    </div>
</div>

<div id="receive-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="request-modal-label">{{'receive' | translate}}</h3>
            </div>
            <div class="modal-body" ng-include="'/ng-app/AdminOrder/partials/order_receive_form.html'">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{'close' | translate}}</button>
                <button class="btn btn-primary" ng-click="validateReceive()" value="#receiveForm">{{'save' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div id="reupload-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="reupload-modal-label">{{'uploadAgain' | translate}}</h3>
            </div>
            <div class="modal-body" ng-include="'/ng-app/AdminOrder/partials/order_reupload_form.html'">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{'close' | translate}}</button>
                <button class="btn btn-primary" ng-click="submitReupload()" value="#reuploadForm">{{'save' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div id="cancel-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="cancel-modal-label">{{'cancel' | translate}}</h3>
            </div>
            <div class="modal-body" ng-include="'/ng-app/AdminOrder/partials/order_cancel_form.html'">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{'close' | translate}}</button>
                <button class="btn btn-primary" ng-click="validateCancel()" value="#cancelForm">{{'save' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div id="reclaim-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="reclaim-modal-label">{{'reclaim' | translate}}</h3>
            </div>
            <div class="modal-body" ng-include="'/ng-app/AdminOrder/partials/order_reclaim_form.html'">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{'close' | translate}}</button>
                <button class="btn btn-primary" ng-click="validateReclaim()" value="#cancelForm">{{'save' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div id="files-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="files-modal-label">{{'uploadedFiles' | translate}}</h3>
            </div>
            <div class="modal-body" ng-include="'/ng-app/AdminOrder/partials/file_list.html'">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{'close' | translate}}</button>
            </div>
        </div>
    </div>
</div>