<div class="explorar_catalogos" ng-if="contains(['searched', 'requested', 'approval_pending', 'received'], request.current_state) && countSearches() > 0">
    <button type="button" class="btn btn-success btn-block" data-target="#request-modal" role="button" data-toggle="modal">
        <span class="glyphicon glyphicon-plus"></span> {{'addRequest' | translate}}
    </button>
</div>

<div class="explorar_catalogos" ng-if="contains(['created'], request.current_state)">
    <button bs-tooltip="requestTooltip" type="button" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-plus"></span> {{'addRequest' | translate}}
    </button>
</div>

<div class="explorar_catalogos">
    <button type="button" class="btn btn-link btn-block" data-target="#search-modal" role="button" data-toggle="modal" id="catalogs_link">
        {{'exploreCatalogs' | translate}}
    </button>
</div>

<div class="explorar_catalogos" ng-if="contains(['requested'], request.current_state) && !currentState(request).search_pending">
    <button type="button" class="btn btn-default btn-block" role="button" ng-click="pendingSearch()">
        {{'pendingSearch' | translate}}
    </button>
</div>

<div class="explorar_catalogos" ng-if="contains(['requested'], request.current_state) && currentState(request).search_pending">
    <button type="button" class="btn btn-default btn-block" role="button" ng-click="noPendingSearch()">
        {{'noPendingSearch' | translate}}
    </button>
</div>

<div id="search-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="search-modal-label" class="modal-title">{{'searchCatalogs' | translate}}</h4>
            </div>
            <div class="modal-body" ng-include="'/ng-app/AdminOrder/partials/catalog_list.html'">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">{{'close' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div id="request-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="request-modal-label">{{'request' | translate}}</h3>
            </div>
            <div class="modal-body" ng-include="'/ng-app/AdminOrder/partials/order_request_form.html'">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{'close' | translate}}</button>
                <button class="btn btn-primary" ng-click="validateRequest()" value="#requestForm">{{'save' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div id="email-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="email-modal-label">{{'email' | translate}}</h3>
            </div>
            <div class="modal-body" ng-include="'/ng-app/AdminOrder/partials/order_email_form.html'">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{'close' | translate}}</button>
                <button class="btn btn-primary" ng-click="validateEmail()" value="#emailForm">{{'send' | translate}}</button>
            </div>
        </div>
    </div>
</div>