<h1>{{'Requests'}}</h1>
<div ng-repeat="">
    <div class="item1 col-md-6">
        <div class="panel1 col-md-5">
            <div class="cat_estrella"></div>
            <div class="cat_datos">
                <div class="cat_titulo">KVK</div>
                <div class="cat_fecha">12 abril 2012</div>
            </div>
        </div>
        <div class="panel2 col-md-1"></div>
        <div class="panel3 col-md-5">
            <div class="relojito"><img src="/bundles/celsius3core/images/icon_relojito.png" width="11" height="20" /></div>
            <div class="fecha_relojito">12 abril 1998</div>
        </div>
    </div>

    <div class="item1 col-md-6">
        <div class="panel1 col-md-5">
            <div class="cat_estrella"></div>
            <div class="cat_datos">
                <div class="cat_titulo">KVK</div>
                <div class="cat_fecha">12 abril 2012</div>
            </div>
        </div>
        <div class="panel2 col-md-1"></div>
        <div class="panel3 col-md-5">
            <div class="relojito"><img src="/bundles/celsius3core/images/icon_relojito.png" width="11" height="20" /></div>
            <div class="fecha_relojito">12 abril 1998</div>
        </div>
    </div>
    <div class="item1 col-md-6">
        <div class="panel1 col-md-5">
            <div class="cat_estrella_ok"></div>
            <div class="cat_datos_ok">
                <div class="cat_titulo">KVK</div>
                <div class="cat_fecha">12 abril 2012</div>
            </div>
        </div>
        <div class="panel2_ok col-md-1"></div>
        <div class="panel3_ok col-md-5">
            <div class="relojito"><img src="/bundles/celsius3core/images/icon_hoja_white.png" width="11" height="20" /></div>
            <div class="fecha_hoja">12 abril 1998</div>
        </div>
    </div>
</div>
