<div class="row">
<div class="col-xs-10">
<h5>{{ interaction.institution }}</h5>

<table class="table table-condensed">
    <tbody>
        <tr>
            <td class="success text-center">{{ 'requested' | translate }}: {{ interaction.institutionInteraction.data.created }}</td>
            <td class="text-center">{{ 'delivered' | translate }}: {{ interaction.institutionInteraction.data.delivered }}</td>
            <td class="text-center">{{ 'annulled' | translate }}: {{ interaction.institutionInteraction.data.annulled }}</td>
            <td class="text-center">{{ 'cancelled' | translate }}: {{ interaction.institutionInteraction.data.cancelled }}</td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-xs-2 col-xs-offset-5">
        <span class="glyphicon glyphicon-arrow-up"></span>
        <span class="glyphicon glyphicon-arrow-down"></span>
    </div>
</div>
<h5>{{ interaction.instance }}</h5>

<table class="table table-condensed">
    <tbody>
        <tr>
            <td class="success text-center">{{ 'requested' | translate }}: {{ interaction.instanceInteraction.data.created }}</td>
            <td class="text-center">{{ 'delivered' | translate }}: {{ interaction.instanceInteraction.data.delivered }}</td>
            <td class="text-center">{{ 'annulled' | translate }}: {{ interaction.instanceInteraction.data.annulled }}</td>
            <td class="text-center">{{ 'cancelled' | translate }}: {{ interaction.instanceInteraction.data.cancelled }}</td>
        </tr>
    </tbody>
</table>

</div>
</div>