<h4>{{'itemInformation' | translate}}</h4>
<ul class="list-unstyled">
    <li>
        <strong>{{'type' | translate}}</strong> {{order.material_data.type}}
    </li>
    <li>
        <strong>{{'title' | translate}}</strong> {{order.material_data.title}}
    </li>
    <li>
        <strong>{{'year' | translate}}</strong> {{order.material_data.year}}
    </li>
    <li>
        <strong>{{'startPage' | translate}}</strong> {{order.material_data.startPage}}
    </li>
    <li>
        <strong>{{'endPage' | translate}}</strong> {{order.material_data.endPage}}
    </li>
    <li ng-if="order.material_data.type === 'journal'">
        <strong>{{'volume' | translate}}</strong> {{order.material_data.volume}}
    </li>
    <li ng-if="order.material_data.type === 'journal'">
        <strong>{{'number' | translate}}</strong> {{order.material_data.number}}
    </li>
    <li ng-if="order.material_data.type === 'journal'">
        <strong>{{'journal' | translate}}</strong> {{order.material_data.journal.name}}
    </li>
    <li ng-if="order.material_data.type === 'book'">
        <strong>{{'editor' | translate}}</strong> {{order.material_data.editor}}
    </li>
    <li ng-if="order.material_data.type === 'book'">
        <strong>{{'chapter' | translate}}</strong> {{order.material_data.chapter}}
    </li>
    <li ng-if="order.material_data.type === 'book'">
        <strong>{{'isbn' | translate}}</strong> {{order.material_data._i_s_b_n}}
    </li>
    <li ng-if="order.material_data.type === 'book'">
        <strong>{{'withIndex' | translate}}</strong> {{order.material_data.with_index| material_with_index | translate}}
    </li>
    <li ng-if="order.material_data.type === 'congress'">
        <strong>{{'place' | translate}}</strong> {{order.material_data.place}}
    </li>
    <li ng-if="order.material_data.type === 'congress'">
        <strong>{{'communication' | translate}}</strong> {{order.material_data.communication}}
    </li>
    <li ng-if="order.material_data.type === 'thesis'">
        <strong>{{'director' | translate}}</strong> {{order.material_data.director}}
    </li>
    <li ng-if="order.material_data.type === 'thesis'">
        <strong>{{'degree' | translate}}</strong> {{order.material_data.degree}}
    </li>
</ul>