<div class="item_container row" ng-include="'/ng-app/AdminOrder/partials/show_order_data.html'">
</div>

<div class="row">
    <div class="col-md-9" ng-if="request.type === 'provision' && take.length === 0 && !advanced && searches.length === 0">
        <div class="row">
            <div class="col-md-12">
                <p>{{'Si usted no necesita realizar búsquedas en catálogos para satisfacer el pedido, seleccione Básico, de lo contrario elija avanzado'}}</p>
                <p>
                    <button class="btn btn-success" ng-click="basicMode()">{{'Basic'}}</button>
                    <button class="btn btn-primary" ng-click="advancedMode()">{{'Advanced'}}</button>
                </p>
            </div>
        </div>
    </div>
    
    <div class="col-md-9" ng-if="request.type === 'provision' && take.length > 0">
        <div class="row">
            <div class="col-md-12" ng-include="'/ng-app/AdminOrder/partials/order_upload_form.html'">
            </div>
        </div>
    </div>
    
    <div class="col-md-9" ng-if="request.type === 'search' || advanced || searches.length > 0">
        <div class="row">
            <state-bar>
                
            </state-bar>
        </div>

        <div class="row" ng-include="'/ng-app/AdminOrder/partials/show_order_content.html'">
        </div>
    </div>

    <div id="derecha" class="col-md-3" ng-include="'/ng-app/AdminOrder/partials/show_order_history.html'">
    </div>
</div>