<ul class="list-unstyled">
    <li>
        <a ng-href="{{ {path: 'admin_order'}|get_url}}">
            <span class="glyphicon glyphicon-home"></span> {{'Go to the list'}}
        </a>
    </li>
    <li>
        <a ng-href="{{ {path: 'admin_order_edit', params: {'id': order.id} }|get_url }}">
            <span class="glyphicon glyphicon-pencil"></span> {{'Edit'}}
        </a>
    </li>
    <li>
        <a href="{{ {path: 'admin_mails_modal', params: { 'user_id': request.owner.id, 'order_id': order.id } }|get_url }}" data-toggle="modal" data-target="#modal-email">
            <span class="glyphicon glyphicon-envelope"></span> {{'Send mail'}}
        </a>
    </li>
    <li ng-if="['received'].indexOf(request.current_state) !== -1">
        <a href ng-click="deliver()"><span class="glyphicon glyphicon-download"></span> {{'Deliver'}}</a>
    </li>
    <li ng-if="['created', 'searched'].indexOf(request.current_state) !== -1">
        <form action="{{ {path: 'admin_order_event', params: { 'id': order.id, 'event': 'annul' } }|get_url }}" method="post" class="inline-form">
            <a class="submit-form" href="#"><span class="glyphicon glyphicon-ban-circle"></span> {{'Annul'}}</a>
        </form>
    </li>
    <li ng-if="['searched', 'requested', 'approval_pending'].indexOf(request.current_state) !== -1">
        <form action="{{ {path: 'admin_order_event', params: { 'id': order.id, 'event': 'cancel' } }|get_url }}" method="post" class="inline-form">
            <a class="submit-form" href="#"><span class="glyphicon glyphicon-remove"></span> {{'Cancel'}}</a>
        </form>
    </li>
    <li ng-if="request.current_state !== 'created'">
        <form action="{{ {path: 'admin_order_undo', params: { 'id': order.id } }|get_url }}" method="post" class="inline-form">
            <a class="submit-form" href="#"><span class="glyphicon glyphicon-arrow-left"></span> {{'Back to previous state'}}</a>
        </form>
    </li>
</ul>