<div class="item_container row" ng-include="'/ng-app/AdminOrder/partials/show_order_data.html'">
</div>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div id="barra" class="col-md-12" ng-include="'/ng-app/AdminOrder/partials/show_order_status.html'">
            </div>
        </div>

        <div class="row" ng-include="'/ng-app/AdminOrder/partials/show_order_content.html'">
        </div>
    </div>

    <div id="derecha" class="col-md-3" ng-include="'/ng-app/AdminOrder/partials/show_order_history.html'">
    </div>
</div>