{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Hive Creation'|trans }}
{% endblock %}

{% from "Macro/Crud/new.html.twig" import new as new %}

{% block content %}


<div class="panel panel-default">
    <div class="panel-heading">  <h2>{{ 'Hive Creation'|trans }}</h2></div>
    <div class="panel-body">


    {{ new('superadmin_hive', form) }}
</div>
</div>
{% endblock %}
