{% extends 'Celsius3CoreBundle:MaterialType:_materialType.html.twig' %}

{% block dataType %}
<li>
    <strong>{{ 'Type'|trans }}</strong> {{ 'Patent'|trans }}
</li>
{% endblock %}

{% block extraData %}
{% endblock %}