{% extends 'Celsius3CoreBundle:MaterialType:_materialType.html.twig' %}

{% block dataType %}
<p><span>{{ 'Type'|trans }}</span> {{ 'Patent'|trans }}</p>
{% endblock %}

{% block extraData %}
{% endblock %}