<ul class="list-unstyled pull-right actions">
    <li>
        <a href="{{ path('admin_country_edit', { 'id': element.id }) }}"><span class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}</a>
    </li>
</ul>