<ul class="list-unstyled">
    <li>
        <a href="{{ path('admin_country_new') }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'Create a new country'|trans }}
        </a>
    </li>
</ul>