{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Country List'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Country List'|trans }}</h2>

    {{ index('admin_country', pagination, 'Celsius3CoreBundle:AdminCountry', filter_form) }}
{% endblock %}
