{% extends 'Admin/Dashboard/layout.html.twig' %}

{% block title %}
    {{ 'User Union'|trans }}
{% endblock %}

{% from "Macro/Crud/union.html.twig" import union as union %}

{% block content %}
    <h2>{{ 'User Union'|trans }}</h2>

    {{ union('admin_user', entities, 'Admin/BaseUser/') }}
{% endblock %}
