{% extends 'Admin/Dashboard/layout.html.twig' %}

{% block title %}
    {{ 'User Creation'|trans }}
{% endblock %}

{% from "Macro/Crud/new.html.twig" import new as new %}

{% block content %}
    <h2>{{ 'User Creation'|trans }}</h2>

    {{ new('admin_user', form) }}
{% endblock %}
