{% extends 'Admin/Dashboard/layout.html.twig' %}

{% block title %}
    {{ 'User Transform'|trans }}
{% endblock %}

{% from "Macro/Crud/transform.html.twig" import transform as transform %}

{% block content %}
    <h2>{{ 'User Transform'|trans }} - {{ entity.name }}</h2>

    {{ transform('admin_user', entity, transform_form) }}
{% endblock %}
