{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Journal List'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Journal List'|trans }}</h2>
    <hr class="separator_hr">
    {{ index('admin_journal', pagination, 'Celsius3CoreBundle:AdminJournal', filter_form, instance) }}
{% endblock %}
