{% extends 'Admin/Dashboard/layout.html.twig' %}

{% block title %}
    {{ 'Journal Creation'|trans }}
{% endblock %}

{% from "Macro/Crud/new.html.twig" import new as new %}

{% block content %}
    <h2>{{ 'Journal Creation'|trans }}</h2>
    <hr class="separator_hr">
    {{ new('admin_journal', form, 'Admin/Journal/', true) }}
{% endblock %}
