<ul class="unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Viewed'|trans, 'viewed') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Cause'|trans, 'cause') }}</li>
</ul>