{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}

{% block title %}
{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}
{% endblock %}

{% block content %}
    <h2>{{ 'Messages'|trans }}</h2>
    {{ knp_menu_render('CelsiusCelsius3MessageBundle:Builder:messageMenu', { 'currentClass': 'active' }) }}
    {% block fos_message_content %}{% endblock %}
{% endblock %}