{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}
{% block title %}
{{ 'My Site'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    {% include 'CelsiusCelsius3Bundle:User:_orders_span.html.twig' %}
    {% include 'CelsiusCelsius3Bundle:User:_messages_span.html.twig' %}
</div>
{% include 'CelsiusCelsius3Bundle:Notification:index.html.twig' %}
{% endblock %}
