{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'My Site'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div id="messages" class="span6">
        <h3>{{ 'My Messages'|trans }}</h3>
    </div>
    <div id="orders" class="span6">
        <h3>{{ 'My Orders'|trans }}</h3>
    </div>
</div>
{% endblock %}
