{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Data requests list' | trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
    <h2>{{ 'Data requests list' | trans }}</h2>
    <hr class="separator_hr">
    {{ index('superadmin_data_request_index', pagination, 'Celsius3CoreBundle:SuperadminDataRequests', null, null, false) }}
{% endblock %}
