{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Order View'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import show as show %}

{% block content %}
    <h2>{{ 'Order View'|trans }} - {{ entity.code ~ ' - ' ~ entity.materialData.title }}</h2>

    {{ show('superadmin_order', entity, delete_form, 'Celsius3CoreBundle:SuperadminOrder') }}
{% endblock %}
