<ul class="unstyled">
    <li>{{ pagination.sortable('Default'|trans, 'id')|raw }} - </li>
    <li>{{ pagination.sortable('Name'|trans, 'name')|raw }} - </li>
    <li>{{ pagination.sortable('Url'|trans, 'url')|raw }}</li>
</ul>