<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'name') }}</li>
    <li>{{ knp_pagination_sortable(pagination, 'Surname'|trans, 'surname') }}</li>
    <li>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'email') }}</li>
</ul>
