<div class="item_container row">
    <div class="top_info">
        <div class="top_left">
            {% if request.type == constant('Celsius3\\CoreBundle\\Manager\\OrderManager::TYPE__SEARCH') %}
            <div class="busqueda">B</div>
            {% else %}
            <div class="provision">P</div>
            {% endif %}
            <div class="tipoarticulo">{{ get_material_type(document.materialData)}}</div>
        </div>

        <div class="top_right">	
            <div class="status-{{ request.currentState}}"></div>
            <div class="uri">{{ order.code}}</div>
            <div class="usuario">
                {% if request.operator %}
                {{ request.operator}}
                {% else %}
                &nbsp;
                {% endif %}
            </div>
            <div class="decoracion"></div>
        </div>
    </div>

    <div class="main_info">
        <div class="title_and_author">
            <div class="titulo">{{ document.materialData.title}}</div>
            <div class="autor">{{ document.materialData.authors}}</div>
            <div class="doc_year">{{ document.materialData.year}}</div>
        </div>
        <div class="doc_and_year">
            <div class="doc_type_pdf"></div>
        </div>
    </div>

    <div id="pedido_tope" class="row">
        <div id="columna1" class="col-md-4">
            <h4>{{ 'General item information'|trans }}</h4>
            {{ render_material(document.materialData) | raw}}
        </div>

        <div id="columna2" class="col-md-5">
            <h4>{{ 'Interaction summary'|trans }}</h4>

        </div>

        <div id="columna3" class="col-md-3">
            <ul class="list-unstyled">
                {% include 'Celsius3CoreBundle:AdminOrder:_show_actions.html.twig' %}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div id="barra" class="col-md-12">
                {% include 'Celsius3CoreBundle:AdminOrder:_show_order_status.html.twig' %}
            </div>
        </div>

        <div class="row">
            {% include 'Celsius3CoreBundle:AdminOrder:_show_order_contenido.html.twig' %}
        </div>
    </div>

    <div id="derecha" class="col-md-3">
        {% include 'Celsius3CoreBundle:AdminOrder:_show_order_history.html.twig' %}
    </div>
</div>