{% set ajax_path = 'admin_ajax' %}
{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Contact Edit'|trans }}
{% endblock %}

{% from "Macro/Crud/edit.html.twig" import edit as edit %}

{% block content %}
    <h2>{{ 'Contact Edit'|trans }} - {{ entity.surname ~ ', ' ~ entity.name }}</h2>
    <hr class="separator_hr">
    {{ edit('admin_contact', entity, edit_form, 'Admin/Contact/', true) }}
{% endblock %}
