{% extends 'Admin/Dashboard/layout.html.twig' %}

{% block title %}
    {{ 'Catalog Edit'|trans }}
{% endblock %}

{% from "Macro/Crud/edit.html.twig" import edit as edit %}

{% block content %}
    <h2>{{ 'Catalog Edit'|trans }} - {{ entity.name }}</h2>
    <hr class="separator_hr">
    {{ edit('admin_catalog', entity, edit_form, 'Admin/Catalog/', true) }}
{% endblock %}
