{% set ajax_path = 'admin_ajax' %}
{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Contact Edit'|trans }}
{% endblock %}

{% from "Macro/Crud/edit.html.twig" import edit as edit %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">    <h2>{{ 'Contact Edit'|trans }} - {{ entity.surname ~ ', ' ~ entity.name }}</h2></div>
    <div class="panel-body">
    {{ edit('superadmin_contact', entity, edit_form) }}
</div>
</div>
{% endblock %}
